*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}
header{
    /* background: #f18000; */
    width: 100%;
    height: 100vh;
    /* padding: 1rem 2%; */
    background-image: url(./Night.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.logo{
    display: flex;
    color:white;
    margin-left: 5%;

}

.head{
    font-size: 1.2rem;
    
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar ul a{
    margin-left: 6.5rem;
    color: white;
    list-style: none;
}

.hover{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 1%;
    transition: .7s;
}

.hover:hover{
    background: #fff;
}

.hover:hover .navbar ul a{
    color: black;
}

.hover:hover .logo{
    color: blue;
}

.content{
    display: block;
    margin-top: 9%;
    margin-left: 9%;
    color: #fff;
}

.content h1{
    font-size: 6rem;
    font-weight: 700;
}

.content p{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 2.7rem;
    opacity: 0%;
}

.btn{
    width: 5rem;
    height: 3rem;
    border-radius: 10%;
    font-size: larger;
    opacity: 0%;
}

.slide-left{
    animation: slideright 2s linear forwards;
}

@keyframes slideright{
    0% {
        transform: translate(100px);
        opacity: 0;
        color: #fff;
    }
    
    100% {
        transform: translate(0px);
        opacity: 1;
        color: #f18000;
    }
    
}

p.slide-left{
    animation-delay: 1s;
}

.btn.slide-left{
    animation-delay: 2s;
}


@media screen and(max-width: 769px) {
    .head{
        display: grid;
        grid-template-columns: 2, 1fr;
        flex-wrap: wrap;
        /* width: 100%; */
        /* height: 50vh; */
        font-size: 0.7rem;
    }
    .content{
        display: grid;
        grid-template-columns: 2, 1fr;
        /* flex-wrap: wrap; */
        /* width: 100%; */
        /* height: 50vh; */
        font-size:0.7rem ;
    }
    .content p{
        /* font-size: 2rem; */
        line-height: 1rem;
        font-weight: 500;
        margin-bottom: .5rem;
        /* opacity: 0%; */
    }
    .btn{
        /* width: 3rem; */
        height: .7rem;
        border-radius: 5%;
        font-size: small;
        /* opacity: 0%; */
    }

}

@media screen and(max-width:568px) {
    .head{
        display: grid;
        grid-template-columns: 1, 1fr;
        font-size: 0.5rem;
    }

.content{
    display: grid;
    grid-template-columns: 1,1fr;
    font-size: 0.5rem;
}
}






